<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.id %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <a href="/"><img src="/images/cornwall-realtor-logo.jpg" width="100px" alt=""></a>
    <div id="navbar">
        <a href="/downtown">Downtown</a>
        <a href="/northend">Northend</a>
        <a href="/eastend">Eastend</a>
        <a href="/riverdale">Riverdale</a>
    </div>
    <hr>
    <img src=<%= listing.image %> width="500px" alt="">
    <h1><%= listing.address %></h1>
    <h2>Price: <%= listing.price %></h2>
    <h3>Details:</h3>

    <p>
        <ul>
            <li>Postal Code: <%=listing.postalCode %></li>
            <li>MLS: <%= listing.MLSnumber %></li>
            <li>Description: <%= listing.description %></li>
        </ul>
    </p>
    <h3>Property Summary:</h3>
    <ul>
        <li>Propety Type: <%=listing.propertySummary.propertyType%></li>
        <li>Building Type: <%=listing.propertySummary.buildingType%></li>
        <li>Number of Storeys: <%=listing.propertySummary.storeys%></li>
        <li>Date of Construction: <%=listing.propertySummary.builtIn%></li>
        <li>Taxes: <%=listing.propertySummary.taxes%></li>
        <li>Parking Type: <%=listing.propertySummary.parking%></li>
    </ul>
    <h3>Building Summary</h3>
    <ul>
        <li>Number of Bedrooms: <%=listing.buildingSummary.bedrooms%></li>
        <li>Number of Bathrooms: <%=listing.buildingSummary.bathrooms%></li>
        <li>Building Features: <%=listing.buildingSummary.buildingFeatures%></li>
        <li>Type of Cooling: <%=listing.buildingSummary.cooling%></li>
        <li>Number of Heating: <%=listing.buildingSummary.heating%></li>
        <li>Type of Sewer: <%=listing.buildingSummary.sewer%></li>
        <li>Type of Water: <%=listing.buildingSummary.water%></li>
        <li>Size: <%=listing.buildingSummary.size%></li>    
    </ul>
</body>
</html>